@import '../../../partials/config';

.button {
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 0.8rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: $button-border-radius;
    box-shadow: $box-shadow;
    transition-duration: $transition-duration;

    &:hover {
        background-color: $primary-color-hover;
        box-shadow: $box-shadow-hover;
    }
}
