@import '../../partials/config';

.comment {
    .comment-wrapper {
        max-width: 400px;
    }

    .comment-text {
        position: relative;
        border-radius: $text-area-border-radius;
        box-shadow: $box-shadow;
        height: $text-area-height;
        transition-duration: $transition-duration;

        &:hover {
            box-shadow: $box-shadow-hover;
        }
    }

    .comment-actions {
        text-align: end;
    }
}
